/* Define Font-Family */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff");
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/sf-pro-text-regular.woff");
}
@font-face {
  font-family: "SF Pro Text Bold";
  src: url("../fonts/sf-pro-text-bold.woff");
}

/* Define Variable */
:root > * {
  --copyright-text-color: #dfdfdf;
  --copyright-logo-color: white;

  /* Links */
  --md-typeset-a-color: #138bff;
  --md-accent-fg-color: #fe9a2d;
}

/* Define stylesheet */
[data-md-color-scheme="default"] {
  /* Header */
  --md-primary-fg-color: #384860;

  /* Footer */
  --md-footer-bg-color: white;
  --md-footer-bg-color--dark: #384860;
  --md-footer-fg-color: black;
}
[data-md-color-scheme="slate"] {
  /* Header */
  --md-primary-fg-color: #010101;

  /* Main */
  --md-default-bg-color: #061a38;
  --md-default-fg-color--light: white;

  /* Footer */
  --md-footer-bg-color: #061a38;
  --md-footer-bg-color--dark: #061a38;

  /* Footer - Copyright */
  --copyright-text-color: #969696;
  --copyright-logo-color: #dfdfdf;
}

/* Header Customization */
.custom-copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--copyright-text-color);

  display: flex;
  flex-direction: row;
  gap: 8px;
}
.custom-copyright svg {
  color: var(--copyright-logo-color);
}
.custom-copyright svg:hover {
  color: white;
}

#top-logo {
  height: 24px;
  width: 98px;
}

/* Footer Customization */
.md-footer-meta {
  padding: 24px 0px;
}
.md-footer-meta__inner {
  position: relative;

  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 61rem;
}
.md-social {
  flex: 0;

  position: absolute;
  right: 4px;

  display: flex;
}
html .md-footer-meta.md-typeset a:is(:focus, :hover) {
  color: white;
}

/* Copyright customization */
.protectai-logo {
  padding-left: 4px;
}

@media (max-width: 500px) {
  .md-social {
    flex: 1;
    position: inherit;
  }
  .md-footer-meta__inner {
    flex-direction: column;
  }
}

/* Search Bar in header customization */
.md-search__form {
  background-color: hsla(0, 0%, 100%, 0.06);
}

/* table width customization */
.md-typeset table:not([class]) th {
  min-width: 10rem;
}

/* md-button customization */
.md-typeset .md-button--primary {
  padding: 12px 20px;
  background-color: #138bff;
  border: 1px solid #138bff;
  border-radius: 4px;

  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: white;
}
.md-typeset .md-button--primary:hover {
  background-color: white;
  border: 1px solid #138bff;
  color: #138bff;
}
