<div class="w-full">
  <h3 class="font-bold">{{ issue_code | replace("_", " ") | title }}</h3>
  <p class="mt-4">Path: {{ issue.details.file_path }}</p>
  <p>Vulnerability: Exposed Secret</p>
  <p class="mt-4"><b>Description</b>:</p>
  <p>{{ issue.details.description | replace(",", ", ") }}</p>
  <p class="mt-4">
    <b>Location</b>: cell {{ issue.details.location }}
  </p>
  <div class="flex flex-row w-100 mt-4">
    <div class="pr-4">
      <p class="font-bold">Cell #{{ issue.cell.cell_index }}</p>
    </div>
    <div
      class="bg-white border-solid border border-none-border rounded-md overflow-x-auto w-[42rem]"
    >
      <span class="pl-4">{{ issue.cell | string() }}</span>
    </div>
  </div>
</div>
