<nav class="w-100 border-b-[1px] border-[#2D2D2D]">
  <div class="flex flex-row max-w-4xl m-auto h-14 items-center">
    <a
      class="navbar-brand w-20 mr-2"
      href="http://protectai.com"
      target="_blank"
      rel="noreferrer"
    >
      {% include "icons/header-protectai.html" %}
    </a>
    {% include "icons/header-rectangle.svg" %}
    <p class="inline-block ml-2">NB Defense Scan Results</p>
    <div class="ml-auto flex items-center">
      <a
        href="https://docs.protectai.com/nbdefense/"
        target="_blank"
        rel="noreferrer"
        >Docs</a
      >
    </div>
  </div>
</nav>
